@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: GoryeongStrawberry;
}

h1 {
  font-size: 40px;
}

/* 폰트 */
@font-face {
  font-family: "GoryeongStrawberry";
  src: url("@assets/fonts/GoryeongStrawberry.ttf");
}
